<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

        <!-- HTML Meta Tags -->
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://gifts.paytaca.com/claim/?code={{ code }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://gifts.paytaca.com/static/gift.png/">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="gifts.paytaca.com">
        <meta property="twitter:url" content="https://gifts.paytaca.com/claim/?code={{ code }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="https://gifts.paytaca.com/static/gift.png/">

        <!-- Meta Tags Generated via https://www.opengraph.xyz -->
                
    </head>

    <body>
        <h1>You received a BCH gift</h1>
        <p><b>Scan the QR code below using your Paytaca app to claim it.</b></p>
        <div id="qr-code"></div>
        <p><b>How to claim?</b></p>
        <ol>
            <li>Open the Paytaca app</li>
            <li>Go to Apps</li>
            <li>Open Gifts</li>
            <li>Click on Claim Gift button</li>
            <li>Click on QR scanner icon</li>
            <li>Scan the QR code above</li>
        </ol>
        <p><b>You don't have the Paytaca app?</b></p>
        <p>Download and install from <a href="https://www.paytaca.com" target="_blank">www.paytaca.com</a></p>

        <script type="text/javascript">
            var qrcode = new QRCode(document.querySelector("#qr-code"), {
                text: "{{ code }}",
                width: 250, //default 128
                height: 250,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
        </script>
    </body>
</html>
